<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.soloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".SoLoudApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4mO3LdIzPLAWclHfN1X_BQ79Z486VRcI"/>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyNavigationDrawerTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1625319744433880"
            android:exported="true" />

        <activity android:name=".activities.TutorialActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activities.ContestDetails"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_advertisement_details"
            android:theme="@style/AppTheme">
            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ContestsActivity" />-->
        </activity>
        <activity
            android:name=".activities.HashTagsActivity"
            android:label="@string/hashTags_label"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ContestDetails" />-->
        </activity>
        <activity
            android:name=".contests.ContestsActivity"
            android:label="@string/title_contests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />-->
        </activity>
        <activity
            android:name=".userPost.PostActivity"
            android:label="@string/title_post"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbarStyle">
            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HashTagsActivity" />-->
        </activity>
        <activity android:name=".profile.UserProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wizard.WizardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme">
        </activity>

        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/profileTheme">
        </activity>

        <activity
            android:name=".profile.ProfileTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/profileTheme">
        </activity>

        <activity
            android:name=".facebookPlaces.CheckInActivity"
            android:label="@string/check_in"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbarStyle">
        </activity>


    </application>

</manifest>